#users {
    margin-top: 50px !important;
}

#users table {
    width: 100%;
    box-shadow: 0 0 5px lightgray;
    margin-bottom: 0;
}

#users table th,
#users table td {
    color: rgba(255,255,255,.75);
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#users table th {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
}

img.admin-profiles-images {
    border-radius: 50%;
    margin-left: 15px;
    width: 50px;
    height: 50px;
}
