/* –––––––––––––– */
/*     BANNER     */
/* –––––––––––––– */

#mainHeader {
    background: #29b873 url('./Images/header.jpg') center top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 25;
    height: 100vh;
}

#mainHeader .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mainHeader .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(5, 5, 5, 0.6);
}

#mainHeader .header-bar div:nth-child(2) {
    padding: 0;
}

#mainHeader .header-bar .logo div {
    padding-left: 30px;
    border-top-width: 20px;
    padding-top: 15px;
}

#mainHeader .header-bar .logo h1 {
    display: none;
    padding-top: 25px;
    padding-left: 20px;
}

#mainHeader .header-bar .logo img {
    /*display: none;*/
    width: 50px;
    height: 50px;
}

#mainHeader .wrapper {
    padding-top: 70px;
    font-weight: bold;
    font-style: italic;
    z-index: 99;
}

#mainHeader .wrapper-img {
    margin-left: 130px;
}

#mainHeader .wrapper h1 {
    font-size: 100px;
    margin-left: 30px;
}

#mainHeader .wrapper p {
    font-size: 32px;
    color: #004d40;
    margin-left: 30px;
}

#mainHeader .wrapper p.icon {
    font-size: 120px;
    color: white;
    position: absolute;
    top: 500px;
    left: 420px;
}

/* Login form */
#mainHeader .login {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
}

#mainHeader .login .email,
#mainHeader .login .password,
#mainHeader .login button {
    z-index: 99;
}

#mainHeader .login .email,
#mainHeader .login .password {
    margin-right: 15px;
}

/* Hiperlink to Open the Modal */
#mainHeader .modal-link {
    position: absolute;
    top: 60px;
    right: 120px;
    cursor: pointer;
    color: white !important;
    text-decoration: underline !important;
}