#myModal { height:700px }

#myModal .modal-header {
    background-color: var(--dark-red);
}

#myModal .modal-header h4{
    text-transform: uppercase;
    color: white;
}

#myModal .input-group-text {
    width: 155px;
    border: none;
    background-color: var(--dark-red);
    color: white;
}

 .gender {
    color: white !important;
}

.formulario-cliente > div {
    padding-right: 0 !important;
}

.btn-red.send {
    padding: 10px 55px;
    text-transform: uppercase;
}