/* –––––––––––––– */
/*     BANNER     */
/* –––––––––––––– */

#mainHeader {
    position: relative;
    height: 625px;
    background: #29b873 url('../../../assets/images/background.png') center top no-repeat;
    background-size: cover;
    z-index: 25;
}

#mainHeader .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#mainHeader .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(5, 5, 5, 0.6);
}

#mainHeader .header-bar div:nth-child(2) {
    padding: 0;
}

#mainHeader .header-bar .logo div {
    padding-top: 15px;
    padding-left: 30px;
    border-top-width: 20px;
}

#mainHeader .header-bar .logo h1 {
    padding-top: 25px;
    padding-left: 20px;
    font-style: italic;
}

#mainHeader .header-bar .logo img {
    width: 50px;
    height: 50px;
}

#mainHeader .wrapper {
    position: relative;
    font-weight: bold;
    font-style: italic;
    z-index: 99;
}

#mainHeader .wrapper-img {
    position: absolute;
    top:120px;
    left:20px;
}

#mainHeader .wrapper h1 {
    margin-left: 30px;
    font-size: 80px;
}

@media only screen and (max-width: 480px) {
    #mainHeader .wrapper h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 720px) {
    #mainHeader .wrapper h1 {
        font-size: 50px;
    }
}

#mainHeader .wrapper p {
    font-size: 32px;
    text-align: center;
    color: var(--ligth-red);
}

#mainHeader  p.icon {
    position: absolute;
    right: 0;
    bottom: -41px;
    left: 0;
    font-size: 105px;
    text-align: center;
    color: white;
    cursor: pointer
} 

/* Login form */
#mainHeader .login {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
}

#mainHeader .login .email,
#mainHeader .login .password,
#mainHeader .login button {
    z-index: 99;
}

#mainHeader .login .email,
#mainHeader .login .password {
    margin-right: 15px;
}

.modal-content {
    background-color: rgb(36, 36, 36)
}

#mainHeader .modal-link {
    position: absolute;
    top: 60px;
    right: 120px;
    text-decoration: underline !important;
    color: white !important;
    cursor: pointer;
}