/* –––––––––––––– */
/*     EVENTS     */
/* –––––––––––––– */

#events .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

#events .row {
    margin: 0 auto;
}

#events .row > div {
    padding: 0;
}

#events .hovereffect img {
    width: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

#events .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#events .hovereffect .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
}

#events .hovereffect:hover .overlay {
    opacity: 1;
}

/* Título del evento */

#events .hovereffect .nombre {
    display: block;
    color: crimson;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0,0,0,.25);
    background: linear-gradient(to right, transparent, rgba(0,0,0,.5), transparent);
    letter-spacing: -1px;
    word-spacing: 5px;
    padding: 10px 0;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

/* Botón */

#events .hovereffect a.info {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 7px 14px;
    margin: 0;
}

#events .hovereffect a.info:hover {
    background: rgba(255,255,255,.25);
    box-shadow: inset 0 0 5px white;
}

#events .hovereffect .nombre,
#events .hovereffect a.info {
    transform: scale(0.75);
    transition: 0.5s ease-in-out;
    opacity: 0;
}

#events .hovereffect:hover .nombre,
#events .hovereffect:hover a.info {
    opacity: 1;
    transform: scale(1);
}