.page-link {
    color: gray !important;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
}

.page-item.active .page-link {
    background-color: crimson !important;
    border-color: crimson !important;
    color: white !important
}