#mainHeader.private-header {
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
    height: 150px;
}

#mainHeader.private-header .login {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
}

#mainHeader.private-header .login .avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#mainHeader.private-header .login .nombre {
    color: crimson;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-left: 25px;
}

#mainHeader.private-header .login .boton {
    margin: 0;
    margin-left: 25px;
}

/* Mobile Frist */

@media only screen and (min-width: 480px) {
    #mainHeader.private-header .login .nombre {
        font-size: 15px;
    }
}