.panel {
    min-height: 600px;
    color: var(--texto)
}

.panel .selector-panel {
    background-color: rgb(44, 44, 44)
}

.panel table {
    width: 100%;
    background-color: white
}

.panel table tr.active {
    background-color: #a5d6a7
}

.panel table tr.invisible-cell {
    display: none;
}

.panel  table th,
.panel  table td {
    font-size: 15px !important;
    text-align: center;
}

.panel .selector select {
    width: 65px;
}

.panel input {
    border: 1px solid var(--borde) !important;
    text-align: center;
}

.panel select:focus {
    outline: none !important;
}

h4.text-center {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--dark-red);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--dark-red);
    background-color: var(--dark-red);
}

/* DatePicker */
.react-datepicker {
    border:none
}

.react-datepicker__header {
    background-color: var(--dark-red);
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: white;
}

.react-datepicker__day--today,
.react-datepicker__day--selected  {
    background-color: var(--dark-red)
}

.react-datepicker__input-container > input {
    width: 229px;
    height: 36px;
    padding-left: 17px;
}

/* Routine generator table */
.routine-generator th {
    border-bottom: none !important;
}

.routine-generator td {
    border-top: none !important;
}

.routine-generator .header {
    background-color: var(--dark-red);
    text-transform: uppercase;
    color: white;
}

.routine-generator td {
    border-right: 1px solid var(--borde)
}

.routine-generator td:last-child {
    border-right: none
}

.routine-generator input  {
    border: 1px solid var(--borde)
}