/* ––––––––––––– */
/*     ABOUT     */
/* ––––––––––––– */

#about p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}

#about .first-content-boxes {
    position: relative;
}
#about .first-content-boxes div {
    border: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
}

#about .first-content-boxes div:nth-child(3) {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 505px;
    height: 420px;
    background-color: white;
    border: none;
    color: var(--dark);
    z-index: 1000;
}

@media only screen and (max-width: 480px) {
    #about .first-content-boxes div:nth-child(3) {
        position: relative;
    }
}

#about .first-content-boxes div p {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-weight: 400;
}

#about .first-content-boxes div:first-child p {
    padding-right: 35px;
}

#about .first-content-boxes div:last-child p {
    padding-left: 35px;
}