/* General */

#comments {
    margin: 50px auto;
}

#comments .message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
    padding: 15px;
    margin-bottom: 50px;
}

/* Avatar */

#comments .message-container img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

/* Texto */

#comments .message-container .text {
    word-wrap: break-word;
    width: 100%;
}

#comments .message-container .text .usuario {
    display: block;
    color: crimson;
    font-size: 11px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(220,20,60,.25);
    padding-bottom: 5px;
    margin-bottom: 25px;
}

#comments .message-container .text .usuario i {
    margin-left: 4px;
}

#comments .message-container .text p {
    color: gray;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#comments .message-container .text .hora {
    color: gray;
    font-size: 12px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

/* Eliminar */

#comments .message-container .trash {
    border-radius: 2px;
    height: 40px;
    width: 40px;
}

#comments .pagination-comments a {
    margin: 2px;
}

#comments #comment.form-control {
    resize: none;
}

#comments .boton {
    margin: 0;
}

/* Mobile First */

@media only screen and (min-width: 480px) {
    #comments .message-container {
        padding: 25px 50px;
    }
    #comments .message-container img {
        margin-right: 25px;
        width: 100px;
        height: 100px;
    }
    #comments .message-container .text .usuario {
        font-size: 15px;
    }
    #comments .message-container .trash {
        position: relative;
        left: 25px;
    }
}