/* Fonts */
@font-face {
    font-family: Maiden Crimes;
    src: url('./assets/fonts/Maiden-Crimes.otf');
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* –––––––––––––––––––––––– */
/*     GENERAL FEATURES     */
/* –––––––––––––––––––––––– */

* {
  --background: rgb(245,245,245);
  --texto: #5d646a;
  --borde: #c4c4c4;
  --ligth-red: crimson;
  --dark-red: rgb(192, 17, 52);
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important
}

body {
  color: var(--texto);
  background: var(--background);
  font-size: 15px;
  font-family: "Lato", sans-serif;
  /*overflow-x: hidden;*/
}

h1 {
  color: White;
  font-family: Maiden Crimes;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 2px 5px black;
}

h2 {
  font-size: 50px;
  font-style: italic;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 50px 0;
}

h2::after {
  content: '';
  display: block;
  background: crimson;
  margin: 0 auto;
  position: relative;
  top: 10px;
  width: 100px;
  height: 5px;
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 34px;
  }
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-top: 18px;
  margin-right: 5px;
}

a {
  color: crimson;
  font-weight: bold;
}

a:hover {
  color: var(--dark-red);
}

hr.underline {
  width: 20%;
  border-width: 10px;
  border-color: var(--dark-red);
}

#about,
#third {
  background-color: rgb(255, 255, 255);
}

#about {
  padding: 60px 30px 20px 30px;
}

.headings {
  padding-top: 30px;
  margin-bottom: 50px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: crimson; 
}

/* Buttons */

.btn-red {
  color: #fff;
  background-color: crimson;
  border-radius: 0px;
}

.btn-red:hover {
  color: white;
  background-color: rgb(192, 17, 52);
  border-color: crimson;
}

/* Botón */

.boton {
  color: rgba(255,255,255,.75);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  background: crimson;
  border: 1px solid rgb(200,0,40);
  border-radius: 2px;
  margin: 0 5px;
  width: 100px;
  height: 34px;
}

input,
select {
  border-radius: 0px !important;
  border: none !important;
}

input:focus {
  outline: none !important;
}

span {
  color: var(--dark-red);
  font-weight: bold;
  font-size: 18px;
}

.text-error::placeholder {
  color: red
}

.login-error {
  position: relative;
  color: white
}

tr.invisivle-row {
  display: none;
}

.spinner {
  width: 32px;
}